/* bg stuff */
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: auto;
    padding: 0;
    max-width: 1000px;
    font-family: 'Gentium Book Basic', serif;
}

body {
    font-family: 'Exo', sans-serif;
    background-color: aliceblue;
}

a {
    text-decoration: none;
}

/*** input ***/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:black;
    background: white;
}
.input {
    border-style: none;
    border: 2px solid black;
    color: black;    
    background: white;
    min-width: 250px;
    height: auto;
    text-align: center;
    font-size: larger;
    caret-color: black;
}
input:focus::placeholder {
    color: transparent;
}


.submit {
    border: none;
    border-radius: 5%;    
    background: orange;
    font-weight: bold;
    font-size: 15px;
    text-align: center;    
    min-width: 60px;
    height: 25px;
    margin: 5px 5px 5px 0px;   
}

.submit:hover {
    border: 2px solid black;
    border-radius: 5%;    
    background: orange;
    font-weight: bold;
    text-align: center;    
    min-width: 60px;
    height: 25px;
    margin: 5px 5px 5px 0;
    cursor: pointer;    
}

.reset {
    border: none;
    border-radius: 5%;
    background: white;
    font-weight: bold;
    font-size: 15px;
    text-align: center;    
    min-width: 60px;
    height: 25px;
    margin: 5px;
    cursor: pointer;   
}

.reset:hover {
    border: 2px solid black;
    border-radius: 5%;    
    background: white;
    font-weight: bold;
    text-align: center;    
    min-width: 60px;
    height: 25px;
    margin: 5px;    
}


fieldset {
    height: 125px;
    background-image: url(/img/buch_4.png);
    margin: 0 25px 0 25px;
    border:3px solid red var(--color-shadow, currentColor);
    border-radius: 4px;
    border: 3px solid var(--color-shadow, currentColor);
    /* box-shadow: .5rem .5rem 0 orange; */
    margin-bottom: 20px;
}

legend {
    color: black;
    font-size: 175%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


.response {
    width: 100%;
    height: auto;
    color: black;
    background: white !important;
}


.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
} 


li {
    list-style: none;
    border: 2px solid black;
   /*  border-radius: 4px; */
    margin-top: 15px;
    margin-bottom: 25px;
}



/* output */
.saleButton {
    background: orange;
    color: black;
    border: none;
    border-radius: 5%;
    font-weight: bold;
    text-align: center;    
    min-width: 60px;
    height: 25px;
    margin: 5px; 
    padding: 0;
}
.saleButton:hover {
    background: orange;
    color: black;
    border: 2px solid black;
    border-radius: 5%;
    font-weight: bold;
    text-align: center;    
    min-width: 60px;
    height: 25px;
    margin: 5px; 
    padding: 0;
}
.saleLink {
    margin: 5px;
    color: black;
    text-decoration: none;
    padding: 0;
}
.saleLink:hover {
    margin: 5px;
    color: black;
    text-decoration: none;
    padding: 0;
}


.bookNotAvailable {
    font-size: 12px;
    background: red;
    width: 128px;
    border-radius: 2%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.listButton {
    background: gray;
    color: black;
    border: none;
    border-radius: 5%;
    font-weight: bold;
    text-align: center;    
    min-width: 75px;
    height: 25px;
    margin: 5px;
    padding: 0;
}
.listButton:hover {
    background: white;
    border: solid 2px black;
    color: black;
    border-radius: 5%;
    font-weight: bold;
    text-align: center;    
    min-width: 75px;
    height: 25px;
    margin: 5px; 
    padding: 0;
    cursor: pointer;
}

.output {
    background-color: white !important;
    width: 250px;
}


.myList {
    background: rgb(179, 207, 55);
    color: black;
    border: none;
    border-radius: 5%;
    font-weight: bold;
    font-size: 15px;
    text-align: center;    
    min-width: 75px;
    height: 25px;
    margin: 5px 0px 5px 5px;    
}


.myList:hover {
    background: rgb(26, 225, 122);
    color: black;
    border: 2px solid black;
    border-radius: 5%;
    font-weight: bold;
    text-align: center;    
    min-width: 75px;
    height: 25px;
    margin: 5px 0px 5px 5px;
    cursor: pointer;  
}

label {
    font-size: 25px;
    font-weight: bold;
}
.theList {
    margin-top: 50px;
    max-width: 942px;
    height: 417px;
    /* background-image: url(/img/uc.png); */
}

.nav {
    width: 254px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}